# Ignore local middleware copy
stm32-mw-mbedtls/

# STM32CubeIDE / Eclipse
.metadata/
.settings/
*.launch
*.ioc.backup
*.bak

# Build output
**/Debug/
**/Release/
build/
**/*.o
**/*.d
**/*.su
**/*.cyclo
**/*.elf
**/*.bin
**/*.hex
**/*.map
**/*.list

# Temporary / logs
*.log
*.tmp
*.swp
*~

# Python
__pycache__/
*.pyc

# OS files
.DS_Store
Thumbs.db